{% extends 'org_base.html' %}
{% load staticfiles %}
{% block title %}机构课程列表|蓝鸽在线教育网站{% endblock %}
{% block custom_bread %}
    <div class="wp">
		<ul  class="crumbs">
            <li><a href="{% url 'index' %}">首页</a>></li>
			<li><a href="{% url 'org:org_list' %}">课程机构</a>></li>
			<li>机构课程</li>
		</ul>
	</div>
{% endblock %}
{% block right_form %}
    <div class="right companycenter layout grouping" >
                <div class="head">
                    <h1>全部课程</h1>
                    <a class="green fr more" href="org-detail-course.html">查看更多  >  </a>
                </div>
                <div class="brief group_list">
                    {% for course in all_courses %}
                        <div class="module1_5 box">
                            <a href="course-detail.html"><img width="214" src="{{ MEDIA_URL }}{{ course.image }}"/></a>
                            <div class="des">
                                <a href="course-detail.html"><h2>{{ course.name }}</h2></a>
                                <span class="fl">课时：<i class="key">{{ course.learn_times}}</i></span>
                                <span class="fr">参加人数：{{ course.students }}</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ course.course_org.name }}</span>
                                 <span class="star fr  notlogin
                                    " data-favid="13"  data-fav-type="4">
                                    0
                                </span>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
{% endblock %}